.gameBoard {
    display: grid;
    gap: 0; /* No gap between cells */
    margin-top: 20px;
    justify-content: center;
}

.gameCell {
    /*width: 25px;*/
    height: 20px;
    /*padding: 0;*/
    /*line-height: 20px;*/
}

@media (max-height: 1015px) {
    header {
        display: none;
    }

    .gameBoard {
        margin-top: 0;
    }
}