/* Navbar styling */
.navbar {
    display: flex;
    justify-content: center;
    background-color: #ffffff; 
    padding: 1rem;
    width: 99vw;
    container-name: navbar;
    container-type: inline-size;
    position: fixed;
    top: 0;
    left: 0;
  }
  
  .nav-link {
    color: #16db89be; /* Light color for text */
    text-decoration: none;
    font-size: 1.1rem;
    margin: 0 1rem;
    transition: color 0.3s ease;
  }
  
  .nav-link:hover {
    color: #ffa500; /* Highlight color on hover */
  }
  
  .active {
    color: #ffa500; /* Active link color */
    font-weight: bold;
  }
  