html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  padding: 16px;
  /* Apply padding to avoid sticking too close to the edges */
}

nav>ul>li {
  list-style: none;
}

main {
  display: contents;
}

/* Main Container */
.main-container {
  max-width: 650px;
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin-top: 3rem;
  align-self: center;
}

/* Main Content and Footer */
.main {
  flex: 1;
  /* Allows it to grow and take available space */
  display: flex;
  flex-direction: column;
  gap: 32px;
}

footer {
  /*padding: 10px;*/
  text-align: center;
  background-color: #eee;
}

/* Footer sticky */
footer {
  width: 100%;
  /*padding: 10px 0;*/
  background-color: #eee;
  text-align: center;
  color: #333;
  position: fixed;
  bottom: 0;
  left: 0;
  height: 6rem;
}

/* Responsive */
@media (max-width: 600px) {
  .page {
    padding: 16px;
  }

  .main {
    align-items: center;
    text-align: center;
  }

  .ctas {
    flex-direction: column;
  }

  .ctas a {
    font-size: 14px;
    height: 40px;
    padding: 0 16px;
  }
}

@media  (max-width: 858px) {
  .main-container {
    left: 0;
    position: fixed;
  }
}

@media (max-width: 375px) and (max-height: 667px),
       (max-width: 360px) and (max-height: 740px),
       (max-height: 630px)
{
  footer {
    display: none;
  }
}

/* Dark Mode */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }

  body {
    background: var(--background);
    color: var(--foreground);
  }

  footer {
    background-color: #1a1a1a;
    color: #ccc;
  }
}