/* .gameContainer {
    flex-grow: 1; /* Ensures it takes the available space 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: white;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* width: 100%;
} */

.gameContainer {
    max-width: 650px;
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin: 20px;
    align-self: center;
}

#numberOfMoves  {
    font-weight: bold;
    font-size: 1.2rem;
    margin-top: 20px;
}