* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    justify-content: space-between;
}

footer {
    width: 100vw;
    padding: 10px 0;
    text-align: center;
    background-color: #eee;
    position: relative;
    bottom: 0;
}
